apiVersion: v1
kind: Namespace
metadata:
  name: cve-2013-2028
---
apiVersion: v1
kind: Service
metadata:
  namespace: cve-2013-2028
  name: nginx
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30333
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: cve-2013-2028
  name: nginx
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 1
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: mambroziak/cve-2013-2028:1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: "1Gi"
            cpu: "500m"
          requests:
            memory: "512Mi"
            cpu: "125m"